*,
::after,
::before{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* nav{
    height: 3.5rem;
    display: grid;
    place-content: center;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
    font-size: 1.5rem;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background: #fff;
    
} */



main{
    min-height: calc(100vh - 4rem);
    display: grid;
    place-items: center;
}

.container{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
}

.container h2{
    background: black;
    color: #fff;
    padding: 20px;
    margin: 20px;
    font-size: 2rem;
    
}

.color{
    border: 1px solid #fff;
    padding: 10px;
}
.btn{
    padding: 0.75rem 1.25rem;
    background-color:transparent;
    color: rgb(0, 0, 0);
    border-radius: 10px;
    border: 1px solid black;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
    font-size: 2rem;
   
}
.btn:hover{
    background-color: rgb(0, 0, 0);
    color: #fff;
    cursor: pointer;
    transition: 0.9s;
   
}