*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #000;
  
}
h1{
    font-size: 5rem;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.container{
    background-color: #ffffff;
    border-radius: 10px;
    padding: 50px 20px;
    text-align: center;
    max-width: 100%;
    width: 800px;
}

button{
    background-color: #f8b627;
    border: 0;
    border-radius: 10px;
    box-shadow: 0 50px 15px rgba(0,0,0,0.1),0 6px 6px rgba(0,0,0,0.1);
    padding: 12px 30px;
    font-size: 14px;
    cursor: pointer;
    outline: none;
}